{% extends "ridit/base.html"%}
  {% block content %}
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-12 mt-5">
        <h1>Hello world</h1>
      </div>
      <div class="col-12">
        <form method="post" action="#" class='was-validated'>
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input name="Name" type="text" class="form-control"  placeholder="your name"required>
            <label>name</label>
          </div>

          <div class="form-floating">
            <input name="Email" type="email" class="form-control" placeholder="Email" required>
            <label>Email</label>
          </div>
          
          <div class="form-floating">
            <textarea name='Comment' class="form-control" placeholder="Leave a comment here"></textarea>
            <label >Comments</label>
          </div>
          <button type="submit" class='btn btn-lg btn-success'>Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock content %}