{% extends "ridit/base.html" %}
{% load static %}
  {% block content %}
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-12 text-center navbar-brand mt-5">
          <h1>FAQ - Driving School</h1>
        </div>
        <div class="col-12 drive-faq">
          <h3>
            What do I need to do before I can start driving?
          </h3>
          <ul>
            <li>You must have a Provisional Licence;
              You can apply for a provisional driving licence quickly and easily online from Directgov or by completing the D1 application form available at most post offices
            </li>
            <li>All applications made by filling in the D1 form will also require original documentation to be sent to the DVLA to confirm your identity</li>
            <li>The minimum age, which you can legally, drive a car on the public roads is 17
              If you are disabled and in receipt of mobility allowance, the minimum age is 16
              
              </li>
            <li>Until the day you pass the practical part of the Driving Test you are not allowed to drive on your own</li>
            <li>It is also worthwhile having an eyesight test to check that you meet the minimum eyesight standard for driving
            </li>
          </ul>

          <h3>How often should I take lessons?</h3>
          <p>How often you have your lessons is entirely up to you. ProScot recommends at least 1 session of 2 hours per week. The more lessons you take the quicker you will learn and the more money you will save. A 1-hour lesson taken once a week would equate to taking between 9 months to 1 year to learn to drive!</p>
        
        
          <h3>Do I need to pass the theory test before I can start lessons?</h3>
          <p>No. In fact it is a good idea to learn the theory whilst you are learning the practical as it can bring the subject alive making it easier to understand and remember.
            It is also possible to book semi-intensive courses.
            We will arrange to carry out a driving assessment and talk through the various options available. Learning to drive is different for everyone so rather than sell you a set package we'll tailor one to suit you. Call 01592 650100 or pop into the head office for details.
            Residential courses are also available, please contact the head office for further details and availability
          </p>

          <h3>How many driving lessons will I need to take?</h3>
          <p>Driving is a skill that some people learn quicker than others. The Driving and Vehicle Standards Agency states that on average a person requires approximately 44 hours of professional lessons combined with approximately 22 hours of private practice. Your instructor will monitor your progress at the end of each lesson using ProScot's training formula and progress chart and from this you will be able to assess how near test standard you are.</p>
        
        
        </div>
      </div>
    </div>
  {% endblock content %}
